body{
    font-family: 'open sana', sans-serif;
    margin: 0px;
    padding: 0px;
}
#container{
    width: 100%;
    margin: auto;
}
#menu{
    height: 50px;
    width: 100%;
    background: #101010;
    border-bottom: 2px solid #101010;
    border-left: 2px solid #101010;
    border-right: 2px solid #101010;
}
#menu ul{
    padding:0px;
    margin: 0px;
    overflow: auto;
    background: #eeeeee;


}
#menu>ul{
    margin: 1px;
    height: 50px;

}
#menu ul li{
    list-style: none;
    float: left;
    padding-top: 15px;
    height: 50px;
    width:20%;


}
#menu ul li a{
    padding: 15px;
    font-weight: bold;
    color: #333333;

}
#menu ul li:hover{
    background: #171717;
    cursor: pointer;

}#menu ul li:hover>a{
     color: #ffffff;
 }
#menu .sub ul{
    position: absolute;
    top: 50px;
    visibility: hidden;

}
#menu .sub1 ul{
    position: absolute;
    top: 50px;
    visibility: visible;

}


#menu .sub:hover ul{
    visibility: visible;
}


#menu .sub ul li{
    float: none;
    border-bottom: 2px solid white;
}
#tab{
    height: 50px;
    width: 100%;
    background: #101010;
    border-bottom: 2px solid #101010;
    border-left: 2px solid #101010;
    border-right: 2px solid #101010;
}
#tab ul{
    padding:0px;
    margin: 0px;
    overflow: auto;
    background: #eeeeee;


}
#tab>ul{
    margin: 1px;
    height: 50px;

}
#tab ul li{
    list-style: none;
    float: left;
    padding-top: 15px;
    height: 50px;
    width:33.3%;


}
#tab ul li a{
    padding: 15px;
    font-weight: bold;
    color: #333333;

}
#tab ul li:hover{
    background: #171717;
    cursor: pointer;

}#tab ul li:hover>a{
     color: #ffffff;
 }
#tab .sub ul{
    position: absolute;
    top: 50px;
    visibility: hidden;

}



#tab .sub:hover ul{
    visibility: hidden;
}


#tab .sub ul li{
    float: none;
    border-bottom: 2px solid white;
}

