body {
    padding: 0px;
    margin: 0px;
    /*font-family: Tahoma,Arial,sans-serif;*/
    background: white;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: #000000;
}

.wrapper .nav-right input{
    float: left;
    width: 30%;
    height: 10%;
    margin-left: 70%;
    border-radius: 10px;
}
.wrapper .table-content .table-editable{
    width: 100%;
    height: auto;
    margin: auto;
    border: 2px solid black ;
    margin-top: 140px;
}
.top-box .header-button{
    margin-left: -34px;
}
.paragraph h1 {
    color: #4CAF50;
    text-align: center;
    font-family: cursive;
}

.icon {

}

/*p {*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    margin: auto;*/
/*    height: 60px;*/
/*    padding-top: 25px;*/
/*    font-size: 25px;*/
/*}*/

.center-box {
    margin: auto;
    text-align: center;
}

.header-button button {
    width: 70px;
    height: 30px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: #214bfa;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    color: white;
    font-size: 16px;
    border-radius: 20px ;
}

button:hover {
    opacity: 1;
}

.container-add, .container-del, .container-edit, .container-search {
    width: 60%;
    margin: auto;
}

.container-add, .container-del, .container-edit, .container-search h1 {
    color: #4a4a4a;
}

h1 {
    text-align: center;
    color: #000000;
}

input[type=text], input[type=age], input[type=posittion], input[type=value] {
    width: 100%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
select{
    width: 100%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {

    background-color: #214bfa;
    border-radius: 30px ;

    color: white;
    padding: 0px 0px;
    margin-left: 35%;
    border: none;
    cursor: pointer;
    width: 30%;
    height: 50px;
    opacity: 0.9;
    font-weight: bold;
    font-size: 15px;
}

.registerbtn:hover {
    opacity: 1;
}

#search button {
    float: right;
    margin-right: -50px;
    width: 50px;
    height: 48px;
    margin-top: 4px
}