body {
    padding: 0px;
    margin: 0px;
    font-family: Tahoma, sans-serif;
    width: 100%;
    height: 100%;
}

h3 {
    font-size: x-large;
}

.price{
    margin-left: 0px;
}

input {
    margin-left: 0px;
    height: 30px;
    border-radius: 3px;

}

select {
    width: 180px;
    margin-left: 0px;
    border-radius: 3px;
    height:36px;
    margin-bottom: 10px;
}
button{
    float: right;
    width: 134%;
    margin-top: -20%;
    height: 40px;
    color: white;
    border-style: none;
    background-color: #e97635;
    border-radius: 5px;
}
button:hover{
    background-color: #ff3737;
}
.button-sell{
    margin-top: 50%;
    margin-left: 30%;
}


.icon{
    float: left;
    margin-left: 5px;
}
.right-content {
    float: right;
    margin-left: 62%;
    clear: left;
}
.left-content{
    float: left;
    width: 50%;
    height: 100%;
    margin-top: -63%;

}

.right-content .box-price {
    margin-left: 0px;
    margin-top: 0px;
    color: #ff1d2e;
    background-color: #dddddd;
    width: 100%;
    padding-left: 0px;
}

.table {
    margin-left: 0%;

}
select{
    width: 130%;
}


.pic-top img {
    clear: right;
    margin-top: 25%;
    /*margin-right: 50%;*/
    width: 120%;
    height: 100%;
}
.pic-top{
    /*margin-right: 50%;*/
    /*width: 50%;*/
}

.pic-bottom img {
    /*padding-top: 10%;*/
    width: 65%;
    height: 100%;
    /*width: 30%;*/
/*height: 100%*/
}

.pic-bottom .pic-1 {
    /*width: 50%;*/
    float: left;
    margin-left: 0px;
}

.pic-bottom .pic-2 {
    float: left;
    width: 100%;
    /*height: 100%;*/
    /*width: 50%;*/
    margin-top: -35%;
    margin-left: 60%;
}
